body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
  
ol, ul {
    padding-left: 30px;
}
  
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-bottom: 10px;
}
  
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
    display: flex;
    flex-direction: row;
}
  
.game-info {
    margin-left: 20px;
}  

#size {
    margin: 20px;
}

button#loginBtn,
button#logoutBtn {
    margin-bottom: 20px;
}

div.clock {
    margin: 20px;
    border: solid red 2px;
    font-size: 24px;
    width: fit-content;
    padding: 15px;
    font-weight: bold;
}

.warning{
    margin: 0;
    height: 50px;
    background-color: red;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.fancyBorder {
    padding: 10px 10px;
    border: 10px solid;
}
  
fancyBorderblue {
    border-color: blue;
}
  
.dialogTitle {
    margin: 0;
    font-family: sans-serif;
}
  
.dialogMessage {
    font-size: larger;
}